<div class="card-cover game-card">
    * здесь будет твоя карта *
</div>
<div class="standard-card game-card">
    <p class="theme__game-card">Тема</p>
    <div class="standard-task" data-point="1">
        <div class="category__standard-task">
            <img class="dice-img__standard-task" src="/images/dice/dice-1.png" alt="1"/>
            <span class="category-name__standard-task">слова</span>
        </div>
        <span class="content__standard-task"></span>
    </div>
    <div class="standard-task" data-point="2">
        <div class="category__standard-task">
            <img class="dice-img__standard-task" src="/images/dice/dice-2.png" alt="2"/>
            <span class="category-name__standard-task">наоборот</span>
        </div>
        <span class="content__standard-task"></span>
    </div>
    <div class="standard-task" data-point="3">
        <div class="category__standard-task">
            <img class="dice-img__standard-task" src="/images/dice/dice-3.png" alt="3"/>
            <span class="category-name__standard-task">рисунок</span>
        </div>
        <span class="content__standard-task"></span>
    </div>
    <div class="standard-task" data-point="4">
        <div class="category__standard-task">
            <img class="dice-img__standard-task" src="/images/dice/dice-4.png" alt="4"/>
            <span class="category-name__standard-task">жесты</span>
        </div>
        <span class="content__standard-task"></span>
    </div>
    <div class="standard-task" data-point="5">
        <div class="category__standard-task">
            <img class="dice-img__standard-task" src="/images/dice/dice-5.png" alt="5"/>
            <span class="category-name__standard-task">да/нет</span>
        </div>
        <span class="content__standard-task"></span>
    </div>
</div>
<div class="equivoques-card game-card">
    <p class="theme__game-card">Тема</p>
    <div class="rules__equivoques-card"></div>
    <div class="task-wrapper__equivoques-card">
        <div class="equivoques-task"></div>
    </div>
    <p class="comment__equivoques-card"></p>
</div>
