<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">Экивоки</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/game">Новая игра</a></li>
                <li><a href="/rules">Правила</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="side-nav" id="mobile-demo">
    <li><a href="/game">Новая игра</a></li>
    <li><a href="/rules">Правила</a></li>
</ul>
