<h5 class="sandy-brown-text text-darken-1">Что такое Экивоки?</h5>
<p>
    Это необычная версия игры «Крокодил», но гораздо разнообразнее. Если ты не играл в Экивоки с друзьями,
    то ты многое потерял...
</p>
<p>
    Из любимого «Крокодила» тут есть задания на объяснение жестами, но кое-каких заданий не встретить ни в
    одной похожей игре: например, надо петь песни, в которых встречается загаданное слово, или лепить его
    из пластилина.
</p>
<h5 class="sandy-brown-text text-darken-1">Сама придумала?</h5>
<p>
    Нет. Сайт является лишь дополнением к оригинальной игре «Экивоки». Да, здесь нет настоящего поля с
    усложнениями (и не будет). Зато есть таймер, игральный кубик и карточки, поэтому, даже если у вас нет
    оригинальной игры, сайт поможет вам скоротать время и просто посмеяться в компании друзей
</p>
<h5 class="sandy-brown-text text-darken-1">Зачем я это сделала?</h5>
<p>Главная причина состоит в том, что мои друзья так часто играют в «Экивоки», что я запомнила половину
    карточек. Поэтому решила добавить новые карточки и новые темы в игру, а также иметь просто способ
    добавления карточек в будущем.
</p>
<h5 class="sandy-brown-text text-darken-1">Уже можно играть?</h5>
<p>
    Да! Если не знаешь правил, то можешь прочитать их <a href="/rules">тут</a>. Если всё знаешь, то
    <a href="/game">действуй</a>!
</p>
