<link rel="stylesheet" href="/stylesheets/rules.css">
<h4 class="sandy-brown-text text-darken-1 center">Правила</h4>
<p>
    Ваша задача — провести свою фишку от дверей дома до чердака быстрее, чем соперники. Все просто: бросьте
    кубик, выполните задание, пройдите вперед. Задания заключаются в том, чтобы объяснять и отгадывать слова
    тем или иным способом.
</p>
<p>
    На выполнение задания, как правило, дается 1 минута.
</p>
<h5 class="sandy-brown-text text-darken-1">Количество игроков</h5>
<p>В «Экивоки» можно играть большой компанией, маленькой и даже вдвоем. </p>
<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">star_border</i>Игра командами</div>
        <div class="collapsible-body">
            <p>
                Оптимально: 2 команды по 3 - 5 человек.
            </p>
            <p>
                Может быть больше и команд, и игроков. Игрок объясняет слова своей команде. Если команда
                успела за 1 минуту дать правильный ответ, ее фишка идет вперед. Если нет, команда остается на
                месте.
            </p>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">star_border</i>Каждый за себя</div>
        <div class="collapsible-body">
            <p>
                Оптимально: 3-4 человека.
            </p>
            <p>
                Если игроков больше, лучше играть командами. Игрок объясняет слова, отгадывают все участники.
                Если за 1 минуту дан правильный ответ, вперед идут фишки того, кто объяснял, и того, кто
                первым отгадал слово.
            </p>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">star_border</i>Тет-а-тет</div>
        <div class="collapsible-body">
            <p>Можно быть соперниками. А можно - союзниками.</p>
            <p>
                Один игрок объясняет слова другому. Если слово отгадано, вперед идет фишка того, кто объяснял.
                Если слово не отгадано, объясняющий остается на месте, а отгадывающий отходит на 1 клетку
                назад.
            </p>
        </div>
    </li>
</ul>
<h5 class="sandy-brown-text text-darken-1">Игровой процесс</h5>
<p>
    Сначала бросьте кубик. Выпавшее число показывает, какое слово на карточке нужно объяснить и каким
    способом. Если справитесь с заданием, пройдете вперед на столько же клеток.
</p>
<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_1</i>Задания на 1 балл</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_2</i>Задания на 2 балла</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_3</i>Задания на 3 балла</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_4</i>Задания на 4 балла</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_5</i>Задания на 5 баллов</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
</ul>
<h5 class="sandy-brown-text text-darken-1">«Шесть» - значит «экивоки»</h5>
<p>
    На каждой карточке указано, что именно нужно объяснить, каким способом, за какое время и каково
    вознаграждение.
</p>
<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_6</i>Задания «экивоки»</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
</ul>
<h5 class="sandy-brown-text text-darken-1">Подсказки</h5>
<p>Если задание вам уже встречалось, просто кидайте кубик ещё раз и берите следующую карточку.</p>
<h6 class="cadet-blue-text text-lighten-1">Как быстрее угадать слово?</h6>
<p>
    Задайте направление: прежде чем объяснять слово, сообщите другим игрокам тему задания (она указана на всех
    карточках). Это поможет отгадать слово быстрее.
</p>
<p>Используйте условные знаки, когда рисуете или объясняете жестами</p>
<object class="img-prompt" type="image/svg+xml" data="/images/prompt.svg">
    Your browser does not support SVG
</object>
<p>Смело показывайте на пальцах или с помощью условных знаков, сколько слов содержит задание.</p>
<h6 class="cadet-blue-text text-lighten-1">Не сдавайтесь!</h6>
<p>
    Не знаете слово или выражение? Выкручивайтесь! Делите слова на части, используйте похожие по звучанию,
    задействуйте ассистентов и предметы. Подключайте фантазию и артистизм, и все получится!
</p>
<h5 class="sandy-brown-text text-darken-1">Что означают темы заданий?</h5>
<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">attach_file</i>Все темы</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
</ul>
<h5 class="sandy-brown-text text-darken-1">Оригинальная версия</h5>
<p>
    Данное приложение служит дополнением к оригинальной игре «Экивоки». Если вам не терпится продолжить игру
    со всеми её бонусами, то переходите на <a href="https://www.ekivoki.ru/">сайт создателей</a> и заказывайте
    настольную версию игры «Экивоки».
</p>
