<ul class="themes">
    {{#each themes}}
        <li>
            <p class="standard-title">
                <span class="green-text">{{this.title}} ({{this.ageRestriction}}+)</span>
            </p>
            <span class="standard-description">{{this.description}}</span>
        </li>
    {{/each}}
</ul>
