.game-card {
    min-height: 20rem;
    padding: 1rem;
    background-color: #ffe0bf;
    border-radius: 5%;
    overflow: hidden;
}

.card-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #727272;
    font-size: 1.5rem;
}

.standard-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.standard-task {
    border-top: 1px dashed #4e4e4e;
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
    display: flex;
    align-items: stretch;
}

.theme__game-card {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

.category__standard-task {
    width: 30%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
}

.dice-img__standard-task {
    width: 1.2rem;
    vertical-align: center;
    margin: 3px;
}

.content__standard-task {
    flex-grow: 1;
    text-align: center;
    word-break: break-word;
}

.equivoques-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.rules__equivoques-card {
    font-size: 0.85rem;
}

.task-wrapper__equivoques-card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.equivoques-task {
    white-space: pre-line;
    text-align: center;
}

.standard-card {
    display: none;
}

.equivoques-card {
    display: none;
}
