* {
    padding: 0;
    margin: 0;
}

.content {
    margin: 10px 50px;
}

.standard-title {
    text-transform: uppercase;
}

.standard-description {
    display: inline-block;
}

.standard-description::first-letter {
    text-transform: lowercase;
}

#authorization-form {
    width: 100%;
    max-width: 450px;
    margin: 25vh auto;
}

.game-description {
    display: inline-block;
    font-size: 1.25rem;
    padding: 0 2rem;
}

.game-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-around;
}

.dice-wrapper {
    position: relative;
    transform: scale(0.75);
    margin: 3rem 5rem;
}

.timer-wrapper {
    position: relative;
    margin: 2rem;
}

.card-wrapper {
    width: 400px;
    /*min-height: 300px;*/
    background-color: #ffd6aa;
    border: 2px dashed #fe982a;
    border-radius: 5%;
    font-size: 1.25rem;
}

.standard-card {
    min-height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
}

.standard-task {
    /*background-color: #00C853;*/
    border-top: 1px dashed #fe982a;
    display: flex;
    align-items: stretch;

}

.theme__task {
    text-align: center;
    text-transform: uppercase;
}

.category__standard-task {
    width: 30%;
    /*background-color: #0D47A1;*/
    flex-shrink: 0;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
}

.dice-img__standard-task {
    width: 1.2rem;
    vertical-align: center;
    margin: 3px;
}

.content__standard-task {
    flex-grow: 1;
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /*.content {*/
    /*    margin: 10px 50px;*/
    /*}*/
    .game-description {
        display: inline-block;
        font-size: 1rem;
    }
}

/*!* Small devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {*/
/*    .content {*/
/*        margin: 10px 75px;*/
/*    }*/
/*}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {*/
/*    .content {*/
/*        margin: 20px 100px;*/
/*    }*/
/*}*/

/*!* Large devices (laptops/desktops, 992px and up) *!*/
/*@media only screen and (min-width: 992px) {*/
/*    .content {*/
/*        margin: 20px 125px;*/
/*    }*/
/*}*/

/*!* Extra large devices (large laptops and desktops, 1200px and up) *!*/
/*@media only screen and (min-width: 1200px) {*/
/*    .content {*/
/*        margin: 20px 150px;*/
/*    }*/
/*}*/
