h6 {
    font-size: 1.25rem;
}

.img-prompt {
    display: block;
    width: 90%;
    max-width: 45rem;
    border: 1px dashed #6bc4a6;
    margin: 1rem auto;
    padding: 1rem;
    box-sizing: border-box;
}

.theme-title, .category-title {
    text-transform: uppercase;
}

.theme-description, .category-specification {
    display: inline-block;
}

.theme-description::first-letter, .category-specification::first-letter {
    text-transform: lowercase;
}

.collapsible-body li {
    padding-bottom: 1rem;
}

.collapsible-body li:last-child {
    padding-bottom: 0;
}
