body {
    padding: 0;
    margin: 0;
}

.content {
    padding: 20px 30px;
}

.standard-title {
    text-transform: uppercase;
}

.standard-description {
    display: inline-block;
}

.standard-description::first-letter {
    text-transform: lowercase;
}

#authorization-form {
    width: 100%;
    max-width: 450px;
    margin: auto;
}
